* {
	transition: all 0.3s ease;
}

/*body {
	background-color: #232323;
	color: #f4b942;
}
*/
h1, h2, h3, h4 {
	color: #e28d2b;
}

.navbar-brand img {
	height: 100%;
}

.navbar-brand {
	padding: 10px;
}

.thumbnail img {
	max-height:200px;
}

.thumbnail .description {
	color: #7f7f7f;
}

.thumbnail .price {˜
	font-weight: bold;
	font-size: 18px;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

#carousel-example-generic {
	width: 85%;
	margin: 0 auto;
}

#card-errors {
	margin-top: 10px;
}

#success, #error {
	text-align: center;
}